{% extends "error.html" %}
{% block title %}Feature not available{% endblock %}
{% block pagetitle %}Feature not available{% endblock %}

{% block help_line %}Sorry, you can't do this on this site{% endblock %}
{% block help_content %}
    <p class="card-text">
        Unfortunately, the action you just tried to perform is not enable on this site.
    </p>
    <p class="card-text">
        If you got here by accident, you can either go back to the previous page, or contact the Tech Officer for further support.
    </p>
{% endblock %}